/*body {
  background-color: #F6F1E8;
  color: black;
}

h1 {
  border: 2px solid red;
  padding: 20px;
  margin: 40px;
}

.timer {
  border: 2px solid purple;
  padding: 10px;
}











/*body {
  background-color: lightblue;
  color: black;
}



h1 {
  color: purple;
  margin-bottom: 30px; /* Abstand zwischen Überschrift und Inhalt */
/*}

p {
  margin-bottom: 30px; /* Abstand zwischen Paragraph und Inhalt */
/*} 


button {
  background-color: blue;
  color: white;
  border: 1px solid gray;
  border-radius: 10px;  /* abgerundete ecken */
/*  margin: 30px; /* Abstand zwischen Button und anderen Elementen */
/*  padding: 10px 20px;
  cursor: pointer;
}

/* content ist in html beim button zb Start Focus Session, da kann aber auch text, bilder, usw. sein * /
/* padding ist der abstand zwischen inhalt/content und rand, margin ist der abstand zwischen rand und anderen elementen * /


